<div class="well"><p>Notifications</p></div>



	<div class="row" > 
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <table class="table table-striped">
        <thead>
            <tr>
              <th> </th>
              <th> Date/Temps</th>        
            </tr>
          </thead>
          <tbody *ngIf="notifications">
           <tr *ngFor="let notif of notifications"  >
            <td><p> {{notif.titre}}</p> {{notif.contenue}} </td>
            <td>{{notif.date}}<br> <span class="label label-warning">{{notif.temps}}</span></td>
          </tr>

          <!--<tr class="active"> -->
        </tbody>
      </table>
     </div>
    </div>